.container-navbar {
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #C9C5BB;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navbar-text {
    font-size: 30px;
    padding-right: 5px;
    cursor: auto;
    padding-left: 15px;
}

.navbar-items {
    padding: 0px 5px;
    font-size: 16px;

    align-items: center;
}

.navbar-items:hover {
    color: #000000;
}

a {
    text-decoration: none;
    color: #00000080;
    cursor: pointer;
}

a:hover {
    color: #000000;
}